body ,div ,h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,a ,p ,blockquote ,pre ,dl ,dt ,dd ,ol ,ul ,li ,fieldset ,form ,label ,legend ,th ,td ,article ,aside ,figure ,footer ,header ,hgroup ,menu ,nav ,section{
margin: 0 ;
padding: 0 ;
border: 0 ;
font-size: 100%;
text-decoration: none;
font-weight: normal;
color: inherit;
}
html{
font-size: 20px ;
}
body{
background-attachment: fixed;
background-position: right bottom;
background-repeat: no-repeat;
background-color: rgb(11 ,11 ,11 );
}
 #contact{
color: rgb(211 ,41 ,100 );
font-family: 'Ubuntu Condensed';
margin-left: 1rem ;
margin-right: 1rem ;
margin-bottom: 0 ;
font-size: .8rem ;
margin-top: 1rem ;
text-align: right;
z-index: -1 ;
}
#contact h1{
font-size: 3rem ;
text-align: left;
line-height: 1em ;
padding-bottom: .3em ;
}
 #content{
margin-left: 0rem ;
margin-right: 0rem ;
margin-top: 0 ;
margin-bottom: 0 ;
}
 #navbar{
color: rgb(214 ,166 ,160 );
font-family: 'Ubuntu Condensed';
font-size: 1rem ;
text-align: justify;
margin-top: 1em ;
margin-left: 1rem ;
margin-right: 1rem ;
line-height: 0em ;
}
#navbar ul{
line-height: 0 ;
list-style-type: none;
}
.whitesquare{
margin-left: .2em ;
display: inline-block;
min-height: 1em ;
min-width: .5em ;
background-color:  #FFF;
}
#navbar li{
display: inline;
margin-left: 0em ;
text-transform: lowercase;
}
#navbar ul:after{
width: 100%;
display: inline-block;
height: 0 ;
content: '';
}
.post ,.postpreview ,.resume-section ,.about-section{
background-color: rgb(26 ,26 ,30 );
margin-top: 1rem ;
padding-bottom: 1rem ;
padding-left: 1rem ;
padding-right: 1rem ;
padding-top: 0.75rem ;
margin-bottom: 1rem ;
}
.post-title{
padding-top: 0.5rem ;
}
.postpreview{
background-size: cover;
display: block;
}
.postpreview time{
text-align: center;
}
.hidden-author{
display: none;
}
.post h1,.resume h1{
font-family: 'Ubuntu Condensed';
color: rgb(211 ,41 ,100 );
text-transform: lowercase;
font-size: 2rem ;
margin-bottom: .3rem ;
}
.postpreview-title ,.postpreview h2,.post h2,.resume h2{
font-family: 'Ubuntu Condensed';
color: rgb(211 ,41 ,100 );
text-transform: lowercase;
font-size: 1.5rem ;
padding-bottom: 0 ;
margin-top: .3rem ;
margin-bottom: .3rem ;
}
.postpreview time,.post time,.resume h3,.post h3,.resume dt{
font-family: 'Ubuntu Condensed';
color: rgb(211 ,41 ,100 );
text-transform: lowercase;
font-size: 1rem ;
}
.postpreview time,.postpreview-title{
color: rgb(211 ,41 ,100 );
display: block;
}
.about-section dl{
line-height: 2em ;
}
.resume dt{
float: left;
padding-left: .3rem ;
width: 2.3999999999999999rem ;
}
.resume dd{
font-family: 'Ubuntu Condensed';
color: rgb(211 ,41 ,100 );
text-transform: lowercase;
font-size: 1rem ;
width: 9.5999999999999996rem ;
margin-left: 3.6000000000000001rem ;
}
.about-section dt{
width: 6rem ;
}
.resume dl:after{
content: '';
clear: both;
}
.postpreview hr,.post hr{
height: 1px ;
background-color: rgba(255 ,189 ,199 ,.22 );
border-style: none;
margin-top: 1rem ;
margin-bottom: 1rem ;
clear: both;
}
.previewtext{
color: rgb(218 ,200 ,209 );
font-family: 'Open Sans';
font-weight: 300 ;
font-size: .8rem ;
line-height: 180%;
text-align: left;
width: 95%;
padding: 0 1rem ;
}
.previewtext:after{
content: '.';
display: block;
height: 0 ;
visibility: hidden;
clear: both;
}
.post p,.post ul,.post dt,.post dd{
color: rgb(218 ,200 ,209 );
font-family: 'Open Sans';
font-weight: 300 ;
font-size: .8rem ;
line-height: 180%;
text-align: left;
margin-top: 1rem ;
padding: 0 ;
}
.post p:first-child ,.post ul:first-child ,.post dt:first-child ,.post dd:first-child{
margin-top: 0 ;
}
.post a,.previewtext a{
color: rgb(218 ,200 ,209 );
font-family: 'Open Sans';
font-weight: 300 ;
font-size: .8rem ;
line-height: 180%;
text-align: left;
color: rgb(211 ,41 ,100 );
}
.resume p,.resume li{
color: rgb(218 ,200 ,209 );
font-family: 'Open Sans';
font-weight: 300 ;
font-size: .8rem ;
line-height: 180%;
text-align: left;
margin: 1rem .3rem ;
margin-bottom: 2rem ;
line-height: 140%;
margin-top: 1rem ;
}
.about-section img{
display: block;
margin: 1em auto;
width: 9.5999999999999996rem ;
}
.resume p{
margin: 0 1em ;
line-height: 1.6000000000000001em ;
}
.resume li{
margin-left: 1rem ;
margin-bottom: .8rem ;
}
.resume ul{
list-style-type: none;
margin-bottom: .8rem ;
}
.resume a{
text-decoration: underline;
}
.resume .pdflink{
margin-left: 3.6000000000000001rem ;
}
.postpreview img{
width: 9.5999999999999996rem ;
margin: 1em auto;
display: block;
}
.post img{
width: 100%;
margin-left: 0 ;
margin-right: 0 display:block;
}
.readmore{
clear: both;
font-family: 'Ubuntu Condensed';
color: rgb(211 ,41 ,100 );
text-decoration: underline;
margin-top: 2em ;
margin-left: 3.6000000000000001rem ;
}
@media (min-width:30em ){
 #content{
margin: 0 auto;
width: 20.3999999999999986rem ;
}
 #contact{
margin: 0 auto;
margin-top: 1rem ;
width: 20.3999999999999986rem ;
}
.resume dt{
width: 6rem ;
}
.resume dd{
margin-left: 7.20000000000000018rem ;
}
.about-section dd{
padding-left: 3.6000000000000001rem ;
}
.about-section h3,.post time,.postpreview h3,.post h3{
padding-left: 3.6000000000000001rem ;
}
.about-section img,.postpreview img{
margin: 1em 0 ;
width: 13.1999999999999993rem ;
padding-left: 3.6000000000000001rem ;
}
}
@media (min-width:37em ){
 #content{
width: 27.6000000000000014rem ;
}
 #contact{
width: 20.3999999999999986rem ;
padding-left: 7.20000000000000018rem ;
}
#contact h1{
text-align: right;
}
 #navbar{
width: 16.8000000000000007rem ;
margin-left: 10.8000000000000007rem ;
}
.post h2,.postpreview h2,.resume h2{
text-align: left;
padding: 0rem .3rem ;
}
.post dt{
float: left;
width: 5.27999999999999936rem ;
padding-left: .5em ;
padding-right: .5em ;
clear: both;
}
.post dd{
float: right;
padding-bottom: 1rem ;
padding-top: 0 ;
margin-top: 0 ;
width: 18.6000000000000014rem ;
}
.post dl:after{
content: '.';
display: block;
height: 0 ;
visibility: hidden;
clear: both;
}
.previewtext{
padding: 0 0 ;
margin: 0 .5rem ;
}
.resume dt{
margin-left: 3.6000000000000001rem ;
}
.resume dd{
margin-left: 10.8000000000000007rem ;
}
.postpreview img{
padding: 0 0 ;
margin: 0 0 ;
width: 13.1999999999999993rem ;
padding-right: 3.6000000000000001rem ;
padding-left: 1.19999999999999996rem ;
float: right;
display: inline-block;
}
.about-section dt{
margin-left: 3.6000000000000001rem ;
}
}
@media (min-width:57em ){
 #contact{
width: 13.1999999999999993rem ;
padding: 0 0 ;
margin: 0 auto;
position: fixed;
bottom: 5%;
right: 50%;
padding-right: 7.20000000000000018rem ;
}
#contact h1{
font-size: 2.5em ;
text-align: right;
}
 #content{
padding-left: 14.40000000000000036rem ;
width: 27.6000000000000014rem ;
}
#navbar li{
display: inline;
}
}
@media (min-width:68em ){
 #content{
padding-right: 10.8000000000000007rem ;
}
 #contact{
padding-right: 14.40000000000000036rem ;
}
 #navbar{
width: 6rem ;
position: fixed;
margin-left: 28.8000000000000007rem ;
text-align: right;
}
#navbar ul{
line-height: 1rem ;
}
#navbar li{
width: 6rem ;
display: list-item;
}
#navbar ul:after{
display: inline;
}
}
.gist{
font-size: 12px ;
margin-top: 2em !important;
margin-bottom: 2em !important;
}
.gist-file .gist-data ,.gist-meta{
background-color: rgba(0 ,0 ,0 ,0.2 )!important;
}
.gist-file .gist-data .line-numbers{
background-color: rgba(0 ,0 ,0 ,0 )!important;
}
.gist-file ,.gist-data{
border: none !important;
}
.gist-meta{
padding: 10px 5px 0px !important;
background: rgba(0 ,0 ,0 ,0.2 )!important;
color: rgb(218 ,200 ,209 )!important;
text-shadow: none !important;
}
.gist-meta a{
color: rgb(218 ,200 ,209 )!important;
}
