pre{
font-family: 'Ubuntu Mono';
background:  #002b36;
color:  #93a1a1;
}
code{
font-family: 'Ubuntu Mono';
}
.gist-syntax .c{
color: #586e75 !important;
font-style: italic;
}
.gist-syntax .cm{
color: #586e75 !important;
font-style: italic;
}
.gist-syntax .cp{
color: #586e75 !important;
font-style: italic;
}
.gist-syntax .c1{
color: #586e75 !important;
font-style: italic;
}
.gist-syntax .cs{
color: #586e75 !important;
font-weight: bold;
font-style: italic;
}
.gist-syntax .err{
color: #dc322f !important;
background: none;
}
.gist-syntax .k{
color: #cb4b16 !important;
}
.gist-syntax .o{
color: #93a1a1 !important;
font-weight: bold;
}
.gist-syntax .p{
color: #93a1a1 !important;
}
.gist-syntax .ow{
color: #2aa198 !important;
font-weight: bold;
}
.gist-syntax .ge{
color: #93a1a1 !important;
font-style: italic;
}
.gist-syntax .gh{
color: #586e75 !important;
}
.gist-syntax .gs{
color: #93a1a1 !important;
font-weight: bold;
}
.gist-syntax .gu{
color: #6c71c4 !important;
}
.gist-syntax .kc{
color: #859900 !important;
font-weight: bold;
}
.gist-syntax .kd{
color: #268bd2 !important;
}
.gist-syntax .kp{
color: #cb4b16 !important;
font-weight: bold;
}
.gist-syntax .kr{
color: #d33682 !important;
font-weight: bold;
}
.gist-syntax .kt{
color: #2aa198 !important;
}
.gist-syntax .n{
color: #268bd2 !important;
}
.gist-syntax .na{
color: #268bd2 !important;
}
.gist-syntax .nb{
color: #859900 !important;
}
.gist-syntax .nc{
color: #d33682 !important;
}
.gist-syntax .no{
color: #b58900 !important;
}
.gist-syntax .nl{
color: #859900 !important;
}
.gist-syntax .ne{
color: #268bd2 !important;
font-weight: bold;
}
.gist-syntax .nf{
color: #268bd2 !important;
font-weight: bold;
}
.gist-syntax .nn{
color: #b58900 !important;
}
.gist-syntax .nt{
color: #268bd2 !important;
font-weight: bold;
}
.gist-syntax .nx{
color: #b58900 !important;
}
.gist-syntax .vg{
color: #268bd2 !important;
}
.gist-syntax .vi{
color: #268bd2 !important;
}
.gist-syntax .nv{
color: #268bd2 !important;
}
.gist-syntax .mf{
color: #2aa198 !important;
}
.gist-syntax .m{
color: #2aa198 !important;
}
.gist-syntax .mh{
color: #2aa198 !important;
}
.gist-syntax .mi{
color: #2aa198 !important;
}
.gist-syntax .s{
color: #2aa198 !important;
}
.gist-syntax .sd{
color: #2aa198 !important;
}
.gist-syntax .s2{
color: #2aa198 !important;
}
.gist-syntax .se{
color: #dc322f !important;
}
.gist-syntax .si{
color: #268bd2 !important;
}
.gist-syntax .sr{
color: #2aa198 !important;
}
.gist-syntax .s1{
color: #2aa198 !important;
}
.gist-syntax .kw{
color: #b58900 !important;
font-weight: bold;
}
.gist-syntax .dt{
color: #2aa198 !important;
}
.gist-syntax .dv{
color: #586e75 !important;
}
.gist-syntax .bn{
color: #cb4b16 !important;
}
.gist-syntax .fl{
color: #2aa198 !important;
}
.gist-syntax .ch{
color: #dc322f !important;
}
.gist-syntax .st{
color: #d33682 !important;
}
.gist-syntax .co{
color: #586e75 !important;
font-style: italic;
}
.gist-syntax .ot{
}
.gist-syntax .al{
color: #859900 !important;
font-weight: bold;
}
.gist-syntax .fu{
color: #268bd2 !important;
}
.gist-syntax .re{
}
.gist-syntax .er{
color: #dc322f !important;
font-weight: bold;
}
